.message {
    @extend .flex;

    &_left {
        margin: 0 auto 0 0;
    }
    &_right {
        margin: 0 0 0 auto;
    }

    &__avatar {
        /*todo*/
    }

    &__body {
        /*todo*/
    }

    &__text {
        /*todo*/
    }

    &__time {
        display: flex;
        justify-content: flex-end;
    }
}
