---
stylesheets:
 - login.pcss
---
{{#extend "base"}}
    {{#content "main"}}
        <main>
            <div class="form login-form">
                <div class="form__item">
                    <div class="form__item-placeholder">
                        Login
                    </div>
                    <div class="form__item-input-wrapper">
                        <input class="input form__item-input"/>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__item-placeholder">
                        Password
                    </div>
                    <div class="form__item-input-wrapper">
                        <input class="input form__item-input"/>
                    </div>
                </div>
                <div class="form__actions">
                    <button class="button login-button">
                        Sign in
                    </button>
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
