.setting {
    @extend .flex;
    @extend .flex_centered;
    background-color: white;
    border-bottom: 1px solid black;

    &__title {
        @extend .flex;
    }

    &__actions {
        @extenf .flex;
        @extend .flex_centered;
        margin-left: auto;
    }
}
