.form {
    &__item {
        margin-bottom: 20px;

        &-title {
            /* todo */
        }

        &-input {
            flex: 1 1 0%;

            &-wrapper {
                display: flex;
            }
        }

        &-validation {
            color: red;
        }
    }
}
