.avatar {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__initials {
        font-size: var(--font-size-title);

        &_big {
            font-size: 70px;
            font-weight: bold;
        }
    }

    &_big {

    }
}
