.form {
    &__item {
        margin-bottom: 20px;
        &-title {
        }

        &-input {
            flex: 1 1 0%;

            &-wrapper {
                display: flex;
            }
        }
    }
}
