@import 'typography.pcss';
@import 'material-icons.pcss';
@import 'variables.pcss';

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.full-page {
    height: 100vh;
    width: 100vw;
}
