:root {
    --font-size-text: 14px;
    --font-size-title: 18px;
    --font-size-text-small: 12px;
    --primary-color: #1e88e5;
    --primary-color-light: #6ab7ff;
    --primary-color-dark: #005cb2;
    --border-radius: 3px;
}
