@import '../login/login.pcss';
@import '../registration/registration.pcss';
@import '../profile/profile.pcss';
@import '../chats/chats.pcss';
@import '../chat-user-add/chat-user-add.pcss';

@import '../chats/components/messenger/message-list/message/message.pcss';
