@import '../chats/components/chat/chat.pcss';
@import '../chats/components/chat-list/chat-list.pcss';

.chats {
    @extend .flex;
    width: 100vw;
    height: 100vh;

    &__sider {
        flex: 1 1 30%;
        position: relative;
    }

    &__create-button {
        width: 56px;
        height: 56px;
        position: absolute;
        bottom: 10px;
        right: 20px;
    }

    &__messenger {
        flex: 1 1 70%;
    }
}
