@import '../../styles/base.pcss';
@import '../../markup/partials/header/header.partial.pcss';
@import '../../markup/partials/avatar/avatar.pcss';
@import '../../markup/partials/chat/chat.pcss';

.chats {
    display: flex;
}

.chat-list {
    &-wrapper {
        height: 100vh;
        overflow: auto;
    }
}
